* @Timeraa @Bas950 @ririxidev

@types/* @Timeraa
LICENSE @Fruxh
package.json @Timeraa @Fruxh @TheDropX
yarn.lock @Timeraa @Fruxh @TheDropX
presenceUpdater.ts @Timeraa
syntaxEnforcer.ts @SeMiD
qualityAssurance.ts @SeMiD
.gitignore @Timeraa @Fruxh
