name: pmd

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pmd:
    name: Validate metadata and build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install pmd
        run: npm ci

      - name: Validate metadata and build
        run: npx pmd build --changed --no-kill --validate --sarif
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pmd-results.sarif
          wait-for-processing: true
