name: SV
on: [push, pull_request]
jobs:
  validate:
    name: Schema Validation Check
    runs-on: ubuntu-latest
    if: github.repository_owner == 'PreMiD'
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Restore CI Cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-12-${{ hashFiles('**/yarn.lock') }}
      - name: Install Deps
        run: yarn
      - name: Compile Script
        run: yarn sv:compile
      - name: Start SV
        run: yarn sv